/.gradle/8.8/checksums/checksums.lock
/.gradle/8.8/checksums/sha1-checksums.bin
/.idea/vcs.xml
/.idea/*
/.gradle/8.8/checksums/md5-checksums.bin
/.gradle/8.8/fileHashes/fileHashes.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.idea/modules/Enddisallow.main.iml
/.gradle/8.8/executionHistory/executionHistory.lock
/.gradle/8.8/dependencies-accessors/gc.properties
/.gradle/8.8/gc.properties
/.gradle/vcs-1/gc.properties
/.gradle/8.8/fileChanges/last-build.bin
